PORT=5000
MONGODB_URI=mongodb+srv://planituser:Planit2026@cluster0.ue3jw1o.mongodb.net/todo_portal
JWT_SECRET=todo_portal_super_secret_jwt_key_2026
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=planittvs@gmail.com
EMAIL_PASS=bchxjymutijqakpa

# WhatsApp (Interakt)
WHATSAPP_API_KEY=sk_9548d4db0d704872bee3367ac0dd0399
WHATSAPP_APP_ID=721b6fe4-aab9-4011-a385-c40108eb38c7
WHATSAPP_APP_NAME=uOBdsaJk3dKqAfj9qIeMk9ms
WHATSAPP_WABA_ID=183021468237693
